<h1>About Us</h1>
<p>
	<div class="header">
  <h2>What We Do</h2>
  <h3>CSS Template using Float</h3>
  <p>Founded in 2011, The Urban Canopy is comprised of five main programs which include our IFarm (indoor farm), OFarm (outdoor farm), LUCSA (Local Unified Community Supported Agriculture), Farmers Markets, and Compost Club.

We are pioneering the local food cycle to create a more sustainable and equitable food system in Chicago. We are growers, distributors, composters, and community partners who seek to directly impact our city for the better. We strive to make local healthy produce more accessible to all, reduce the miles fresh food travels, and create and maintain local jobs. Use the sidebar links to learn more about our programs or get in touch. </p>
</div>

<div class="row">
  <div class="column" style="background-color:#aaa;">Column</div>
  <div class="column" style="background-color:#bbb;">Column</div>
  <div class="column" style="background-color:#ccc;">Column</div>
</div>

<div class="footer">
  <p>Footer
  <%=link_to "Home", home_index_path%><br>
<%=link_to "Contact", home_contact_path%><br></p>
</div>