<div class="header">
    <h2>THE URBAN CANOPY</h2>
    <p></p>
</div>
<body>
<div class="row">
    <div class="column" style="background-color:#aaa;">
        <%=link_to "About", home_about_path%>
    </div>
    <div class="column" style="background-color:#bbb;">
        <%=link_to "Contact", home_contact_path%>
    </div>
    <div class="column" style="background-color:#ccc;">Column</div>
</div>
<div class="footer">
    <p>Footer</p>
</div>
</body>